<nav>
  <div class="logo">LOGO</div>
  <ul>
    <li><a href="#">HOME</a></li>
    <li><a href="#">ABOUT</a></li>
    <li><a href="#">BLOG</a></li>
    <li><a href="/Login">LOGIN</a></li>
  </ul>
</nav>
