<html>
  <head>
    <meta charset="utf-8">
    <title>Password</title>
    <link rel="stylesheet" href="stylesheets/pass.css">
    <script src="javascripts/jquery.3.2.1.js"> </script>
    <script src="javascripts/password.js"></script>
  </head>
  <body>
      <div id="group">
          <input type="password" name="password" id="password" onKeyUp="checkPasswordStrength();" required/>
          <label>Password</label>
          <div id="password-strength-status"></div>
      </div>
  </body>
</html>
