<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Sign In</title>
        <link rel="stylesheet" href="stylesheets/style2.css">
    </head>
    <body>
        <div class="container">
          <header>
            <h1>Umberlla Corporation</h1>
          </header>
            <div class="content1">
                <h1>Enter patient details...</h1>
            </div>
            <div class="group">
                <input type="text" id="firstname" name="firstname" required/>
                <label for="firstname">Firstname:</label>
                <div class="group1">
                    <input type="text" id="lastname" name="lastname" required/>
                    <label for="lastname">Lastname:</label>
                </div>
            </div>
            <div class="group4" style="transform:translate(0%,-20%)">
                <input type="email" id="email" name="email" style="width:70%" required/>
                <label for="email">Email:</label>
                <p>*Enter the email id so that we can mail our updates</p>
            </div>
            <h3 style="transform:translate(0%,-70%)">DOB:</h3>
            <div class="group">
                <div class="group6">
                    <input type="text" id="month" name="month" required>
                    <label for="month">month:</label>
                </div>
                <div class="group2">
                    <input type="text" id="date" name="date" required>
                    <label for="date">date:</label>
                </div>
                <div class="group3">
                    <input type="text" id="year" name="year" required>
                    <label for="year">year:</label>
                </div>
                <p style="transform: translate(0%,-300%)">*The above contents are mandatory</p>
            </div>
            <div class="group" style="transform:translate(0%,-110%)">
                <input type="text" id="blood" name="blood" required>
                <label for="blood">Phone Number:</label>
            </div>
            <button type="submit" name="button" style="transform:translate(350%,-100%);">Submit</button>
            <div class="bottom">
                <a href="#">Help</a>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
            </div>
        </div>
    </body>
</html>
